@charset "UTF-8";

.hidden
{
	display: none;
}

body
{
	background-color: #ccc;
	font-family: "Hind Madurai", sans-serif;
}

h3
{
	font-family: "Khand", Arial, sans-serif;	
}
p
{
	font-family: "Hind Madurai", sans-serif;
}


#container
{
	margin: 0 auto;
	width: 980px;
	overflow: hidden;
	background-color: white;
	padding: 20px 10px;
}




#mainHeader
{
	/*must use diplay flex first*/
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
	font-family: "Poiret One", sans-serif;
}

#navCon
{
	width: 680px;
	overflow: hidden;
	margin-right: auto;
	/* must call whenever you use flex box*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 20px;
	font-family: "Poiret One", sans-serif;
}

#subNav
{
	width: 290px;
	height: 40px;
	background-color: #555434;
	margin-top: 19px;
	margin-bottom: 1px;
	padding: 0px;
	font-family: "Poiret One", sans-serif;
}

#mainNav
{
	width: 650px;
	height: 45px;
	background-color: #23550b;
	margin-top: 15px;
	padding: 0px;
	font-family: "Poiret One", Arial, sans-serif;
	align-content: center;
}

#logo 
{
	width: 252px;
	height: 100px;
	background-color: #f0aeae;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0px;
}

#hero 
{
	width: 980px;
	display: flex;
	flex-direction: row-center;
	justify-content: column-center;
}

#mainImage
{
	width: 200px;
	height: 150px;
	background-color: #3c4209;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

#mainImageDesc
{
	width: 700px;
	height: 300px;
	background-color: #75687a;
	margin-bottom: 30px;
	padding: 20px;
}

#wideImage
{
	display: flex;
	flex-direction: row-center;
	align-items: space-between;
	width: 980px;
	height: 200px;
	background-color: #3a5445;
	margin-bottom: 20px;
}

#wideImageDesc
{
	width: 500px;
	height: 200px;
	font-size: 14px;
	padding: 10px;
	color: #ccc;
}

#wideImages
{
	width: 200px;
	height: 200px;
}

#promo
{
	width: 980px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
/*/*margin-left: auto*/
	/*display: flex;
	flex-direction: column-center;
	align-items: flex-start;*/

#promoText
{
	display: flex;
	width: 370px;
	height: 400px;
	margin-bottom: 45px;
	padding: 10px;
	font-family: "Poiret One", Arial, sans-serif;
	align-content: center;
	justify-content: space-between;
}

#promoImage
{
	width: 300px;
	height: 400px;
	background-color: #3c4209;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: space-between;
	margin-bottom: 20px;
}

#mainFooter
{
	display: flex;
	justify-content: center;
	width: 1000px;
	height: 30px;
	background-color: #442916;
	margin-bottom: 90px;
}

